.list {
    margin: 0;
    padding-bottom: 4px;
    padding-top: 4px;
}

.list li {
    margin-left: 2px;
    padding: 2px 0 2px 4px;
}

.list li p {
    overflow-x: auto;
}

.list li::marker {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #60606C;
    vertical-align: middle;
}